/* .main-header{ */
/* 	display: flex; */
/* 	justify-content: space-between; */
/* 	align-items: center; */
/* 	background-color: darkslategray; */
/* } */
/**/
.container-css {
    width: 100%;
    padding-right: var(--bs-gutter-x, 1.5rem);
    padding-left: var(--bs-gutter-x, 1.5rem);
    margin-right: auto;
    margin-left: auto;
}
