.place-item__actions {
    padding: 1rem;
    text-align: center;
    border-top: 1px solid #ccc;
}

.place-item__modal-content {
    padding: 0;
}

.place-item__modal-actions {
    text-align: right;
}

.place-item__actions button,
.place-item__actions a {
    margin: 0.5rem;
}

@media (min-width: 768px) {
    .place-item__image {
        height: 20rem;
    }
}